[Unit]
Description=Oxen-Whois: a whois server for oxen blockchain
Wants=lokinet.service
After=lokinet.service

[Service]
User=_lokinet
Group=_loki
SyslogIdentifier=oxen-whois
ExecStart=/usr/local/bin/oxen-whois
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target